<main>
    <h6 id="mini-heading">DEALS</h6>
    <h2 id="heading">SPECIAL OFFERS</h2>
    <div id="offers">
        <!--
        <div id="package">
            <img src="assets/images/springbok.jpg" data-aos="fade-down" data-aos-duration="400" data-aos-delay="400" >
            <div id="details">
                <figcaption>RWC #GoBokke</figcaption>
                <p>Wear any Spring Boks jeresey when you come check-in and get a discount for supporting our rugby national team as they compete in the Rugby World Cup.</p><br>
                <span class="fa-solid fa-tag"></span><b>R100 OFF</b><br>
                <a href="" target="_blank"><button><label>MORE DETAILS</label></button></a>--><!--
                <a href="https://www.booking.com/hotel/za/thabazimbi-country-lodge-thabazimbi.html" target="_blank"><button><label>BOOK NOW</label></button></a>
            </div>
        </div>
    -->
        <div id="package">
            <img src="assets/images/save-more1.jpg" data-aos="fade-down" data-aos-duration="400" data-aos-delay="400">
            <div id="details">
                <figcaption>BOOK DIRECTLY WITH US, EARN A VOUCHER</figcaption>
                <p>Book directly with us by calling us to make bookings and get a discount on our suites this season. More savings for you!</p><br>
                <span class="fa-solid fa-tag"></span><b>R100 RESTAURANT VOUCHER</b><br>
                <!--<a href="" target="_blank"><button><label>MORE DETAILS</label></button></a> -->
                <a href="https://www.booking.com/hotel/za/thabazimbi-country-lodge-thabazimbi.html" target="_blank"><button><label>BOOK NOW</label></button></a>
            </div>
        </div>
       
    </div>
</main>