main {
    width: 100%;
    margin: auto;
    margin-top: 12.5%;
}

#offers {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

#offers #package {
    background-color: white;
    overflow: hidden;    
}

#offers #package:hover {
    transition: transform 0.25s ease-out;
}

#offers #package img {
    width: 100%;
    height: 60vh;
    transition: transform 0.3s ease-out;
    overflow: hidden;
    cursor: pointer;
}

#offers #package img:hover {
    transform: scale(1.025);
    overflow: hidden;
}

#offers div #details {
    width: 100%;
    height: 100%;
    padding: 2.5%;
    padding-left: 0% !important;
    flex-direction: column;
}

#offers #package #details figcaption {
    font-family: 'Times New Roman', Times, serif !important;
    text-align: left;
    color: var(--light-blue);
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 2.5px;
}

#offers #details p {
    width: 90%;
    text-align: left;
}

#details span {
    font-size: 1.25em;
    margin-right: 1.75%;
}

#offers #details a h4 {
    color: var(--light-blue);
    font-weight: 500;
    width: 90%;
    text-align: left;
}

#offers #details a button {
    margin-top: 5% !important;
    padding: 10px 32.5px;
    background-color: transparent;
    color: white;
    background-size: 400%;
    transition: background 0.8s;
    border: solid 1.5px var(--dark-gray);  
    cursor: pointer;
}

#offers #details a button:nth-child(1) {
    margin-right: 7.5px;
}

#offers #details a button:hover {
    transition: left 0.4s ease-in-out;
    background-position: 185% 50%;    
}

#offers #details a button label {
    font-size: 0.75;
    font-weight: 500;
    cursor: pointer;
}

//Mobile Phone View
@media screen and (max-width: 480px) {
    #offers {
        display: grid;
        grid-template-columns: 100%;
        gap: 50px;
    }

    #offers #package img {
        width: 100%;
        height: 30vh;
    }

    #offers #details a button {
        margin-top: 5% !important;
    }
}

//Tablet View
@media screen and (min-width: 481px) and (max-width: 835px) {
    #offers {
        display: grid;
        grid-template-columns: 100%;
        gap: 25px;
    }

    #offers #package img {
        width: 100%;
        height: 40vh;
    }

    #offers #details a button {
        margin-top: 5% !important;
    }
}