<!--  <header>
  <nav>
    <button (click)="toggleNavbar()" class="navbar-toggle">&#9776;</button>
    <div id="row-1">
        <div id="contact">
          <a href="tel:+27 66 304 3891"><span class="fa-solid fa-phone fa-1x"></span></a>
          <a href="mailto: bookings@thabzimbicountrylodge.co.za"><span class="fa-solid fa-paper-plane fa-1x"></span></a>  
          <a href="https://goo.gl/maps/dvYQ37kLJJQoufSB7"><span class="fa-solid fa-location-dot fa-1x"></span></a>
        </div>

        <div id="logo">
          <a routerLink="/home"><img src="../../assets/images/logo.svg"></a>
        </div>

        <div id="book">
            <a href="https://www.booking.com/hotel/za/thabazimbi-country-lodge-thabazimbi.html" target="_blank"><button><label>BOOK NOW</label></button></a>
        </div>
    </div>

    <div id="row-2">
      <ul id="links" [ngClass]="{ 'show': !isNavbarCollapsed }">
        <li><a (click)="closeNavbar()" routerLink="/home">HOME</a></li>
        <li><a (click)="closeNavbar()" routerLink="/suites">SUITES</a></li>
        <li><a (click)="closeNavbar()" routerLink="/dining">DINING</a></li>
        <li><a (click)="closeNavbar()" routerLink="/experiences">EXPERIENCES</a></li>
        <li><a (click)="closeNavbar()" routerLink="/gallery">GALLERY</a></li>
        <li><a (click)="closeNavbar()" routerLink="/special-offers">SPECIAL OFFERS</a></li>
        <li><a (click)="closeNavbar()" routerLink="/reviews">REVIEWS</a></li>
        <li><a (click)="closeNavbar()" routerLink="/faq">FAQ</a></li>
        <li><a (click)="closeNavbar()" routerLink="/contact-us">CONTACT US</a></li>
      </ul>
    </div>
  </nav>
</header> -->
 

<!-- Testing Another Nav-BAR
 <header>
  <nav>
    <button (click)="toggleNavbar()" class="navbar-toggle">&#9776;</button>
    <div id="row-1">
        <div id="contact">
          <a href="tel:+27 66 304 3891"><span class="fa-solid fa-phone fa-1x"></span></a>
          <a href="mailto: bookings@thabzimbicountrylodge.co.za"><span class="fa-solid fa-paper-plane fa-1x"></span></a>  
          <a href="https://goo.gl/maps/dvYQ37kLJJQoufSB7"><span class="fa-solid fa-location-dot fa-1x"></span></a>
        </div>

        <div id="logo">
          <a routerLink="/home"><img src="../../assets/images/logo.svg"></a>
        </div>

        <div id="book">
            <a href="https://www.booking.com/hotel/za/thabazimbi-country-lodge-thabazimbi.html" target="_blank"><button><label>BOOK NOW</label></button></a>
        </div>
    </div>

    <div id="row-2">
      <ul id="links" [ngClass]="{ 'show': !isNavbarCollapsed }">
        <li><a (click)="closeNavbar()" routerLink="/home">HOME</a></li>
        <li><a (click)="closeNavbar()" routerLink="/suites">SUITES</a></li>
        <li><a (click)="closeNavbar()" routerLink="/dining">DINING</a></li>
        <li><a (click)="closeNavbar()" routerLink="/experiences">EXPERIENCES</a></li>
        <li><a (click)="closeNavbar()" routerLink="/gallery">GALLERY</a></li>
        <li><a (click)="closeNavbar()" routerLink="/special-offers">SPECIAL OFFERS</a></li>
        <li><a (click)="closeNavbar()" routerLink="/reviews">REVIEWS</a></li>
        <li><a (click)="closeNavbar()" routerLink="/faq">FAQ</a></li>
        <li><a (click)="closeNavbar()" routerLink="/contact-us">CONTACT US</a></li>
      </ul>
    </div>
  </nav>
</header> 
-->

<header>
  <nav>
    <button (click)="toggleNavbar()" class="navbar-toggle">&#9776;</button>
    <div id="row-1">
        <div id="contact">
          <a href="tel:+27 66 304 3891"><span class="fa-solid fa-phone fa-1x"></span></a>
          <a href="mailto: bookings@thabzimbicountrylodge.co.za"><span class="fa-solid fa-paper-plane fa-1x"></span></a>  
          <a href="https://goo.gl/maps/dvYQ37kLJJQoufSB7"><span class="fa-solid fa-location-dot fa-1x"></span></a>
        </div>

        <div id="logo">
          <a routerLink="/home"><img src="../../assets/images/logo.svg"></a>
        </div>

        <div id="book">
            <a href="https://www.booking.com/hotel/za/thabazimbi-country-lodge-thabazimbi.html" target="_blank"><button><label>BOOK NOW</label></button></a>
        </div>
    </div>

    <div id="row-2">
      <ul id="links" [ngClass]="{ 'show': !isNavbarCollapsed }">
        <li><a (click)="closeNavbar()" routerLink="/home">HOME</a></li>
        <li><a (click)="closeNavbar()" routerLink="/suites">SUITES</a></li>
        <li><a (click)="closeNavbar()" routerLink="/dining">DINING</a></li>
        <li><a (click)="closeNavbar()" routerLink="/experiences">EXPERIENCES</a></li>
        <li><a (click)="closeNavbar()" routerLink="/gallery">GALLERY</a></li>
        <li><a (click)="closeNavbar()" routerLink="/special-offers">SPECIAL OFFERS</a></li>
        <li><a (click)="closeNavbar()" routerLink="/reviews">REVIEWS</a></li>
        <li><a (click)="closeNavbar()" routerLink="/faq">FAQ</a></li>
        <li><a (click)="closeNavbar()" routerLink="/contact-us">CONTACT US</a></li>
      </ul>
    </div>
  </nav>
</header> 