<main>
    <h6 id="mini-heading">ACTIVITES</h6>
    <h2 id="heading">EXPERIENCES</h2>
    <div id="experiences">
        <div id="experience" data-aos="fade-down" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="100" data-aos-once="true">
            <img src="assets/images/game-drives.jpg" >
            <div id="box">
                <label id="category">ADVENTURE</label>
                <label id="label">LABEL</label>
            </div>
            <div id="details">
                <figcaption>GAME DRIVES</figcaption>
                <p>Embark on thrilling game drives, immersing yourself in the untamed beauty of nature as you seek out captivating wildlife encounters.</p>
            </div>
        </div>
        <div id="experience" data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="100" data-aos-once="true">
            <img src="assets/images/bush-walking.jpg">
            <div id="box">
                <label id="category">ADVENTURE</label>
                <label id="label">LABEL</label>
            </div>
            <div id="details">
                <figcaption>BUSH WALKING</figcaption>
                <p>Embark on an immersive journey through nature as you engage in invigorating bushwalking adventures.</p>
            </div>
        </div>
        <div id="experience" data-aos="fade-down" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="100" data-aos-once="true">
            <img src="assets/images/hiking.jpg">
            <div id="box">
                <label id="category">ADVENTURE</label>
                <label id="label">LABEL</label>
            </div>
            <div id="details">
                <figcaption>HIKING</figcaption>
                <p>Embark on invigorating trails through nature's beauty, as hiking becomes a journey of both exploration and self-discovery.</p>
            </div>
        </div>
        <div id="experience" data-aos="fade-down" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="100" data-aos-once="true">
            <img src="assets/images/mountain-biking.jpg" >
            <div id="box">
                <label id="category">SPORT</label>
                <label id="label">LABEL</label>
            </div>
            <div id="details">
                <figcaption>MOUNTAIN BIKING</figcaption>
                <p>A journey through breathtaking landscapes with mountain biking adventures that promise an adrenaline-fueled escape.</p>
            </div>
        </div>
        <div id="experience" data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="100" data-aos-once="true">
            <img src="assets/images/swimming.jpg">
            <div id="box">
                <label id="category">SPORT</label>
                <label id="label">LABEL</label>
            </div>
            <div id="details">
                <figcaption>SWIMMING</figcaption>
                <p>Immerse yourself in the refreshing embrace of our pool and experience the ultimate relaxation and invigoration.</p>
            </div>
        </div>
        <div id="experience" data-aos="fade-down" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="100" data-aos-once="true">
            <img src="assets/images/day-spa.jpg">
            <div id="box">
                <label id="category">WELLNESS</label>
                <label id="label">LABEL</label>
            </div>
            <div id="details">
                <figcaption>DAY SPA</figcaption>
                <p>Relax in a tranquil haven, where skilled therapists offer personalized therapies to rejuvenate your senses and enhance overall well-being.</p>
            </div>
        </div>
        <div id="experience" data-aos="fade-down" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="100" data-aos-once="true">
            <img src="assets/images/celebrations.jpg">
            <div id="box">
                <label id="category">EVENTS</label>
                <label id="label">LABEL</label>
            </div>
            <div id="details">
                <figcaption>CELEBRATIONS</figcaption>
                <p>Unforgettable celebrations infused with joy and excitement, creating cherished moments that will last a lifetime.</p>
            </div>
        </div>
    <!---
        <div id="experience" data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="100" data-aos-once="true">
            <img src="assets/images/tcl-2-4.jpg">
            <div id="box">
                <label id="category">EVENTS</label>
                <label id="label">LABEL</label>
            </div>
            <div id="details">
                <figcaption>PARTIES</figcaption>
                <p>Experience seamless & impactful conferences in our state-of-the-art facilities, designed to elevate collaboration and communication.</p>
            </div>
        </div>
    -->
        <div id="experience" data-aos="fade-down" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="100" data-aos-once="true">
            <img src="assets/images/conferences.jpg">
            <div id="box">
                <label id="category">EVENTS</label>
                <label id="label">LABEL</label>
            </div>
            <div id="details">
                <figcaption>CONFERENCES</figcaption>
                <p>Experience seamless and impactful conferences in our state-of-the-art facilities, designed to elevate collaboration and communication.</p>
            </div>
        </div>
    </div>
</main>