<footer>
    <div id="container">
        <div id="tcl">
            <h4>
                TCL
            </h4>
            <p>
                Thabazimbi Country Lodge is a charming retreat nestled amidst the natural beauty of Thabazimbi, South Africa. 
                Surrounded by lush landscapes and wildlife, this lodge offers a serene escape from the hustle and bustle of city life. 
            </p>
        </div>

        <div id="social-media">
            <a href="https://www.booking.com/hotel/za/thabazimbi-country-lodge-thabazimbi.html" target="_blank" class="fa-brands fa-b"></a>
            <a href="https://instagram.com/thabazimbicountrylodge" target="_blank" class="fa-brands fa-instagram"></a>
            <a href="https://facebook.com/thabazimbicountrylodge" target="_blank" class="fa-brands fa-facebook"></a>
            <a href="https://twitter.com/thabazimbicountrylodge" target="_blank" class="fa-brands fa-x-twitter"></a>            
            <a href="https://linkedin.com/company/thabazimbi-country-lodge/" target="_blank" class="fa-brands fa-linkedin-in"></a>
        </div>

        <div id="subscribe">    
            <h4>
                NEWSLETTER
            </h4>                    
            <h2>By subscribing to our mailing list, you will always be updated with the latest news from us.</h2>
            <form>
                <input type="email" name="email" required placeholder="Email Address">
                <button><input type="submit" value="SUBMIT"></button><br>    
            </form>
            <h2>We do not spam.</h2>
        </div>

        <div id="contact-us">
            <h4>
                CONTACT US
            </h4>
            <ul>
                <h2 style="font-weight: 600;">E-MAIL ADDRESS:</h2>
                <a href="mailto:bookings@thabazimbicountrylodge.co.za"><li>bookings@thabazimbicountrylodge.co.za</li></a>
                <h2 style="font-weight: 600;">PHONE NUMBER:</h2>
                <a href="tel:+27 66 304 3891"><li>+27 66 304 3891</li></a>
                <h2 style="font-weight: 600;">PHYSICAL ADDRESS:</h2>
                <a href="https://goo.gl/maps/dvYQ37kLJJQoufSB7"><li>Plot 69 Kwaggasvlakte, Thabazimbi</li></a>
            </ul>
        </div>
    </div>
</footer>
<div id="credits">
    <div id="copyrights">
        <h4>2024 © COPYRIGHTS RESERVED <span><br><u>Zimbili Country Lodge</u></span></h4>
    </div>
    <div id="developed-by">
        <h4>ENGINEERED & SECURED BY<a href="https://masingeitsolutions.co.za" target="_blank"><span><br><u>Masinge IT Solutions</u></span></a></h4>
    </div>
</div>