<main>
    <h6 id="mini-heading">FOOD & DRINKS</h6>
    <h2 id="heading">DINING</h2>
    <div id="offers">
        <div id="package">
            <img src="assets/images/dining-05.jpg" data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="200" data-aos-once="true">
            <div id="details" data-aos="fade-down" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="200" data-aos-once="true">
                <figcaption>EXCLUSIVE FOOD</figcaption>
                <p>An extensive array of delectable dishes and refreshing beverages, catering to every palate with an unparalleled selection that promises to satisfy all gastronomic desires.</p>
                <br>
                <p>
                    <b>Restaurant Hours</b><br>
                    <u>Monday – Friday</u><br>
                    07h00 – 20h00<br>
                </p>
            </div>
        </div>
        <div id="package">
            <div id="details" data-aos="fade-down" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="200" data-aos-once="true">
                <figcaption>EXCLUSIVE DRINKS</figcaption>
                <p>Where every dish is a masterpiece crafted with the finest ingredients by our professional chefs, offering an exquisite blend of flavors that redefine the standard of quality dining.</p>
                <br>
                <p>
                    <b>Bar Hours</b><br>
                    <u>Monday – Sunday</u><br>
                    10h00 – 23h00<br>
                </p>
            </div>
            <img src="assets/images/bar-01.jpg" data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="200" data-aos-once="true">
        </div>
    </div>
    <!--
    <div id="menu">
        <figcaption style="text-align: center; padding-left: 0%;">MENU</figcaption>
        <ul id="tabs">
          <li (click)="selectTab(1)" [class.active]="selectedTab === 1">DRINKS </li>
          <li (click)="selectTab(2)" [class.active]="selectedTab === 2">STARTERS</li>
          <li (click)="selectTab(3)" [class.active]="selectedTab === 3">MAIN</li>
          <li (click)="selectTab(4)" [class.active]="selectedTab === 4">DESSERT</li>
        </ul>
      
        <div class="tab-content">
            <ul *ngIf="selectedTab === 1" id="table">
                <section>
                    <li>Coke</li><span>R21</span>
                </section>
                <section>
                    <li>Sprite</li><span>R19</span>
                </section>
                <section>
                    <li>Fanta Orange</li><span>R18</span>
                </section>
                <section>
                    <li>Orange Juice</li><span>R28</span>
                </section>
                <section>
                    <li>Cranberry Juice</li><span>R29</span>
                </section>
                <section>
                    <li>Passion Fruit & Lemonade</li><span>R32</span>
                </section>
            </ul>
            <ul *ngIf="selectedTab === 2" id="table">
                <section>
                    <li>Dagwood</li><span>R78</span>
                </section>
                <section>
                    <li>Double Dagwood</li><span>R105</span>
                </section>
                <section>
                    <li>Bacon & Eggs</li><span>R63</span>
                </section>
            </ul>
            <ul *ngIf="selectedTab === 3" id="table">
                <section>
                    <li>Pizza</li><span>R135</span>
                </section>
                <section>
                    <li>Burger</li><span>R85</span>
                </section>
                <section>
                    <li>Ribs</li><span>R185</span>
                </section>
            </ul>
            <ul *ngIf="selectedTab === 4" id="table">
                <section>
                    <li>Coke</li><span>R15</span>
                </section>
                <section>
                    <li>Coke</li><span>R15</span>
                </section>
                <section>
                    <li>Coke</li><span>R15</span>
                </section>
            </ul>
        </div>
    </div>  
-->    
</main>
