<main>
    <h6 id="mini-heading">ACCOMODATION</h6>
    <h2 id="heading">SUITES</h2>
    <div id="suites">
        <div id="suite">
            <div id="info">
                <div id="amenities">
                    <span class="fa-solid fa-wifi"></span>
                    <span class="fa-solid fa-bed"></span>                        
                    <span class="fa-solid fa-bath"></span>
                    <span class="fa-solid fa-parking"></span>
                    <span class="fa-solid fa-person-swimming"></span>
                    <span class="fa-solid fa-dumbbell"></span>
                    <span class="fa-solid fa-utensils"></span>
                    <span class="fa-solid fa-martini-glass-citrus"></span>
                    <span class="fa-solid fa-tv"></span>
                    <span class="fa-solid fa-fingerprint"></span>
                </div>
                <div id="details">
                    <figcaption>STANDARD SUITE</figcaption>
                    <div id="rules">
                        <ul>   
                            <span class="fa-solid fa-user-group"></span><li>2 Pax</li>
                        </ul>
                        <ul>   
                            <span class="fa-solid fa-paw"></span><li>No Pets</li>
                        </ul>
                        <ul>   
                            <span class="fa-solid fa-maximize"></span><li>22m<sup>2</sup></li>
                        </ul>
                    </div>
                    <p>Indulge in luxury at Thabazimbi Country Lodge's Standard Suite. Experience modern comfort with rustic charm in this spacious suite. Enjoy a king-sized bed, elegant bathroom with a soaking tub and rainfall shower, and a private balcony/patio overlooking the gardens.</p>
                    <ul id="price">   
                        <span class="fa-solid fa-tag"></span><li>R949 Per Night</li>
                    </ul>
                    <!--<a routerLink="/suites/standard"><button><label>MORE DETAILS</label></button></a>-->
                    <a href="https://www.booking.com/hotel/za/thabazimbi-country-lodge-thabazimbi.html" target="_blank"><button><label>BOOK NOW</label></button></a>
                </div>                    
            </div>
            <div id="image">
                <img src="assets/images/standard.jpg">
            </div>
        </div>
        <div id="suite">
            <div id="image">
                <img src="assets/images/deluxe.jpg">
            </div>
            <div id="info">
                <div id="details">
                    <figcaption>DELUXE SUITE</figcaption>
                    <div id="rules">
                        <ul>   
                            <span class="fa-solid fa-user-group"></span><li>2 Pax</li>
                        </ul>
                        <ul>   
                            <span class="fa-solid fa-paw"></span><li>No Pets</li>
                        </ul>
                        <ul>   
                            <span class="fa-solid fa-maximize"></span><li>26m<sup>2</sup></li>
                        </ul>
                    </div>
                    <p>Indulge in luxury at Thabazimbi Country Lodge's Deluxe Suite. Experience modern comfort with rustic charm in this spacious suite. Enjoy a king-sized bed, elegant bathroom with a soaking tub and rainfall shower, and a private balcony/patio overlooking the gardens.</p>
                    <ul id="price">   
                        <span class="fa-solid fa-tag"></span><li>R999 Per Night</li>
                    </ul>
                    <!--<a routerLink="/suites/deluxe"><button><label>MORE DETAILS</label></button></a>-->
                    <a href="https://www.booking.com/hotel/za/thabazimbi-country-lodge-thabazimbi.html" target="_blank"><button><label>BOOK NOW</label></button></a>
                </div>                    
                <div id="amenities">
                    <span class="fa-solid fa-wifi"></span>
                    <span class="fa-solid fa-bed"></span>                        
                    <span class="fa-solid fa-bath"></span>
                    <span class="fa-solid fa-parking"></span>
                    <span class="fa-solid fa-person-swimming"></span>
                    <span class="fa-solid fa-dumbbell"></span>
                    <span class="fa-solid fa-utensils"></span>
                    <span class="fa-solid fa-martini-glass-citrus"></span>
                    <span class="fa-solid fa-tv"></span>
                    <span class="fa-solid fa-fingerprint"></span>
                </div>
            </div>
        </div>
    </div>
</main>
