<main>   
    <h6 id="mini-heading">WHAT PEOPLE SAY</h6>
    <h2 id="heading">REVIEWS</h2>
    <div id="reviews">
        <div id="review" data-aos="fade-down" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="300" data-aos-once="true">
            <div>
                <span class="fa-solid fa-quote-left fa-2x"></span>
                <span class="fa-solid fa-quote-right fa-2x"></span>
            </div>
            <p>“Very nice and clean rooms. Loved the swimming pool.”</p>
            <progress value="9" max="10"></progress><br>
            <label>Robin</label>
            <address>Norway</address>
        </div>
        <div id="review"  data-aos="fade-down" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="300" data-aos-once="true">
            <div>
                <span class="fa-solid fa-quote-left fa-2x"></span>
                <span class="fa-solid fa-quote-right fa-2x"></span>
            </div>
            <p>“Our room was amazing, very spacious as well. Parking was available right in front of the room. Friendly staff.”</p>
            <progress value="9" max="10"></progress><br>
            <label>Jessica</label>
            <address>Germany</address>
        </div>
        <div id="review" data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="300" data-aos-once="true">
            <div>
                <span class="fa-solid fa-quote-left fa-2x"></span>
                <span class="fa-solid fa-quote-right fa-2x"></span>
            </div>
            <p>“The location was great very clean and staff friendly. Breakfast was nice, thanks.”</p>
            <progress value="10" max="10"></progress><br>
            <label>Vicent</label>
            <address>South Africa</address>
        </div>
        <div id="review" data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="300" data-aos-once="true">
            <div>
                <span class="fa-solid fa-quote-left fa-2x"></span>
                <span class="fa-solid fa-quote-right fa-2x"></span>
            </div>
            <p>“It was peaceful and clean and the staff service was so excellent”</p>
            <progress value="10" max="10"></progress><br>
            <label>Jack</label>
            <address>South Africa</address>
        </div>
        <div id="review" data-aos="fade-down" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="300" data-aos-once="true">
            <div>
                <span class="fa-solid fa-quote-left fa-2x"></span>
                <span class="fa-solid fa-quote-right fa-2x"></span>
            </div>
            <p>“It was tranquil, beautiful surroundings, modern room & well equipped. Staff were absolutely amazing!”</p>
            <progress value="9" max="10"></progress><br>
            <label>Donne</label>
            <address>South Africa</address>
        </div>
        <div id="review" data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="300" data-aos-once="true">
            <div>
                <span class="fa-solid fa-quote-left fa-2x"></span>
                <span class="fa-solid fa-quote-right fa-2x"></span>
            </div>
            <p>“Quality breakfast but a bit little expensive. The location is quiet, but transport is more expensive.”</p>
            <progress value="8" max="10"></progress><br>
            <label>Gumisai</label>
            <address>South Africa</address>
        </div>
        <div id="review" data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="300" data-aos-once="true">
            <div>
                <span class="fa-solid fa-quote-left fa-2x"></span>
                <span class="fa-solid fa-quote-right fa-2x"></span>
            </div>
            <p>“Staff is so friendly and helpfull. 2nd time in a month will go back again just ❤️ the breakfast as well. Thank you once again”</p>
            <progress value="10" max="10"></progress><br>
            <label>Venter</label>
            <address>South Africa</address>
        </div>
        <div id="review" data-aos="fade-down" data-aos-duration="300" data-aos-easing="linear" data-aos-offset="300" data-aos-once="true">
            <div>
                <span class="fa-solid fa-quote-left fa-2x"></span>
                <span class="fa-solid fa-quote-right fa-2x"></span>
            </div>
            <p>“I did not book for breakfast, but the location was okay. The receptionist was very friendly and he made me feel welcome. Every time I have to work in Thabazimbi this is the place that I will book.”</p>
            <progress value="9" max="10"></progress><br>
            <label>Da</label>
            <address>South Africa</address>
        </div>
    </div>
</main>