<main>
    <div id="map-and-contact">
        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3628.5237255927705!2d27.4464135744367!3d-24.571115499462184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ebeb3c81eb3c831%3A0xb13355815cf72327!2sThabazimbi%20Country%20Lodge!5e0!3m2!1sen!2sza!4v1691247177776!5m2!1sen!2sza" height="1000"  style="border:0;" allowfullscreen="" loading="eager" referrerpolicy="no-referrer-when-downgrade"></iframe>               
        </div>

        <div id="contact">
            <h6 id="mini-heading" style="text-align: left">REACH OUT</h6>
            <h2 id="heading" style="text-align: left">CONTACT US</h2>
            <ul>   
                <a href="mailto: bookings@thabzimbicountrylodge.co.za">
                    <span class="fa-solid fa-paper-plane fa-1x"></span><li href="mailto:bookings@thabazimbicountrylodge.co.za">bookings@thabazimbicountrylodge.co.za</li>
                </a>
            </ul>
            <ul>   
                <a href="tel:+27 66 304 3891">
                    <span class="fa-solid fa-phone fa-1x"></span><li href="tel: +27 66 304 3891">+27 66 304 3891</li>
                </a>
            </ul>
            <form  method="POST">
                <input type="text" name="name" id="first-name" placeholder="First Name" required><br><br>

                <input type="text" name="surname" id="last-name" placeholder="Last Name" required><br><br>

                <input type="email" name="email" id="email" required placeholder="Email Address"><br><br>

                <input type="tel" name="number" id="number" required placeholder="Phone Number"><br><br>

                <textarea rows="8" name="message" id="message"  placeholder="Message" required></textarea><br><br>

                <button><input id="submit" type="submit" value="SUBMIT"></button><br>
            </form>
        </div>
    </div>
</main>