<main>
    <h6 id="mini-heading">Answers to FAQ</h6>
    <h2 id="heading">FREQUENTLY ASKED QUESTIONS</h2>
    <div id="FAQ">
        <div class="collapse collapse-plus rounded-none">
              <input type="radio" name="my-accordion-3" checked="checked"/> 
            <h3 class="collapse-title" id="question">WHERE ARE WE LOCATED?</h3>
            <p class="collapse-content" id="answer">
                Thabazimbi Country Lodge is located 4.2 km from the center of Thabazimbi, Limpopo.<br>
                3.6 km from the Thabazimbi Square (Checkers Store).<br>
                6.2 km from the Kumba Iron Ore Mine Thabazimbi.<br>
                6.3 km from Thabazimbi SAPS Police Station.<br>
                7.1 km from Thaba Mall.<br>
                7.1 km from Mediclinic Thabazimbi Hospital.<br>
                8.3 km from Thabazimbi Hospital.<br>
                9.4 km from the Iron Ore Mine Thabazimbi.<br>
                13.3 km from the Thabazimbi Golf Course.<br>
                28.9 km from Marakele National Park (Home to The Big Five).
            </p>
        </div>
        <div class="collapse collapse-plus rounded-none">
              <input type="radio" name="my-accordion-3" /> 
            <h3 class="collapse-title" id="question">HOW MUCH DOES IT COST TO STAY WITH US?</h3>
            <p class="collapse-content" id="answer">Our prices vary, please check out our <a routerLink="/suites"><u>suites</u></a> page to find out more.</p>
        </div>
        <div class="collapse collapse-plus rounded-none">
              <input type="radio" name="my-accordion-3" /> 
            <h3 class="collapse-title" id="question">WHAT IS THERE TO DO IN THABAZIMBI?</h3>
            <p class="collapse-content" id="answer"> Please check out our <a routerLink="/experiences"><u>experiences</u></a> page to find out more.</p>
        </div>
        <div class="collapse collapse-plus rounded-none">
              <input type="radio" name="my-accordion-3" /> 
            <h3 class="collapse-title" id="question">WHAT ARE THE CHECK-IN AND CHECK-OUT TIMES?</h3>
            <p class="collapse-content" id="answer">Check-in is from 14h00 and check-out is until 10h00.</p>
        </div>
        <div class="collapse collapse-plus rounded-none">
              <input type="radio" name="my-accordion-3" /> 
            <h3 class="collapse-title" id="question">IS THE LODGE POPULAR WITH WORK & FAMILY STAYS?</h3>
            <p class="collapse-content" id="answer">Yes, Thabazimbi Country Lodge is popular with guests booking work and family stays.</p>
        </div>
        <div class="collapse collapse-plus rounded-none">
              <input type="radio" name="my-accordion-3" /> 
            <h3 class="collapse-title" id="question">HOW MANY SUITES DOES THE LODGE HAVE?</h3>
            <p class="collapse-content" id="answer">
                Thabazimbi Country Lodge has a total of 27 Suites.<br>
                4 are Standard Suites and 23 Deluxe Suites.
            </p>
        </div>
    </div>
</main>